{% extends "dashboard/base.html" %}

{% block title %} Sube tu archivo {% endblock title %}

{% block stylesheets %}
{{ block.super}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css" rel="stylesheet">
{% endblock %}


{% block content %}
<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-6"></div>
      <div class="masonry-item w-100">
        <div class="row gap-20">
          <div class="col-md-12">
            <div class="bgc-white p-20 bd">
              <h6 class="c-grey-900">Subir archivo de Lista de Espera</h6>
              <div class="mT-30">
                <form action="{% url 'upload-file' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% if mensaje %}
                  <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Error:</strong> {{ mensaje }}
                  </div>

                  {% endif %}
                  <div class="form-group">
                    <label>Campos necesarios: 'RUN',  'PRESTA_MIN' (código operación),  'PRESTA_EST' (especialidad),  'F_ENTRADA' (fecha ingreso LEQ)</label> <br>
                    <label for="examplefile">Archivo</label>
                    <input name="file" type="file" class="form-control" id="examplefile" aria-describedby="filelHelp" placeholder="Enter email">
                    <small id="fileHelp" class="form-text text-muted">Archivo de lista de espera quirúrgica .</small>
                  </div>
                  <br>
                  <h6 class="c-grey-900">Configuración del Programador</h6>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label for="date">Fecha Inicio Programación</label>
                      <input id="date" name="date" type="text" class="form-control" value='{% now "d/m/Y" %}' autocomplete="off">
                    </div>
                    <div class="form-group col-md-2" style="display:none">
                      <label for="inputDiasAm">N° Bloques AM</label>
                      <input name="ndaysAM" type="text" class="form-control" id="inputDiasAm" value="5">
                    </div>
                    <div class="form-group col-md-2" style="display:none">
                      <label for="inputDiasPM">N° Bloques PM</label>
                      <input name="ndays" type="text" class="form-control" id="inputDiasPM" value="5">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputSala">N° Salas de Operación </label>
                      <input name="nrooms" type="text" class="form-control" id="inputSala" value="2">
                    </div>
                    <div class="form-group col-md-2" style="display:none">
                      <label for="inputAM">Horas en bloque AM</label>
                      <input name="hoursam" type="text" class="form-control" id="inputAM" value="5">
                    </div>
                    <div class="form-group col-md-2" style="display:none">
                      <label for="inputPM">Horas en bloque PM</label>
                      <input name="hourspm" type="text" class="form-control" id="inputPM" value="3">
                    </div>
<!--                                      <head> -->
<!--                    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--                    <style>-->
<!--/*the container must be positioned relative:*/-->
<!--.custom-select {-->
<!--  position: relative;-->
<!--  font-family: Arial;-->
<!--}-->

<!--.custom-select select {-->
<!--  display: none; /*hide original SELECT element:*/-->
<!--}-->

<!--.select-selected {-->
<!--  background-color: #FFFFFF;-->
<!--}-->

<!--/*style the arrow inside the select element:*/-->
<!--.select-selected:after {-->
<!--  position: absolute;-->
<!--  content: "";-->
<!--  top: 14px;-->
<!--  right: 10px;-->
<!--  width: 0;-->
<!--  height: 0;-->
<!--  border: 6px solid transparent;-->
<!--  border-color: #fff transparent transparent transparent;-->
<!--}-->

<!--/*point the arrow upwards when the select box is open (active):*/-->
<!--.select-selected.select-arrow-active:after {-->
<!--  border-color: transparent transparent #fff transparent;-->
<!--  top: 7px;-->
<!--}-->

<!--/*style the items (options), including the selected item:*/-->
<!--.select-items div,.select-selected {-->
<!--  color: #000000;-->
<!--  border-color: transparent transparent rgba(0, 0, 0, 0) transparent;-->
<!--  user-select: none;-->
<!--}-->

<!--/*style items (options):*/-->
<!--.select-items {-->
<!--  background-color: #FFFFFF;-->
<!--  top: 100%;-->
<!--  left: 0;-->
<!--  right: 0;-->
<!--  z-index: 99;-->
<!--}-->

<!--/*hide the items when the select box is closed:*/-->
<!--.select-hide {-->
<!--  display: none;-->
<!--}-->

<!--.select-items div:hover, .same-as-selected {-->
<!--  background-color: rgba(0, 0, 0, 1);-->
<!--}-->
<!--</style>-->
<!--                  </head>-->
<!--                      <label for="inputSala">N° Salas de Operación </label>-->
<!--                  <body>-->
<!--                  <div class="custom-select" style="width:200px;">-->
<!--                    <select>-->
<!--                      <option value="1">1</option>-->
<!--                      <option value="1">1</option>-->
<!--                      <option value="2">2</option>-->
<!--                      <option value="3">3</option>-->
<!--                      <option value="4">4</option>-->
<!--                      <option value="5">5</option>-->
<!--                    </select>-->
<!--                  </div>-->

<!--                  <script>-->
<!--var x, i, j, selElmnt, a, b, c;-->
<!--/*look for any elements with the class "custom-select":*/-->
<!--x = document.getElementsByClassName("custom-select");-->
<!--for (i = 0; i < x.length; i++) {-->
<!--  selElmnt = x[i].getElementsByTagName("select")[0];-->
<!--  /*for each element, create a new DIV that will act as the selected item:*/-->
<!--  a = document.createElement("DIV");-->
<!--  a.setAttribute("class", "select-selected");-->
<!--  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;-->
<!--  x[i].appendChild(a);-->
<!--  /*for each element, create a new DIV that will contain the option list:*/-->
<!--  b = document.createElement("DIV");-->
<!--  b.setAttribute("class", "select-items select-hide");-->
<!--  for (j = 1; j < selElmnt.length; j++) {-->
<!--    /*for each option in the original select element,-->
<!--    create a new DIV that will act as an option item:*/-->
<!--    c = document.createElement("DIV");-->
<!--    c.innerHTML = selElmnt.options[j].innerHTML;-->
<!--    c.addEventListener("click", function(e) {-->
<!--        /*when an item is clicked, update the original select box,-->
<!--        and the selected item:*/-->
<!--        var y, i, k, s, h;-->
<!--        s = this.parentNode.parentNode.getElementsByTagName("select")[0];-->
<!--        h = this.parentNode.previousSibling;-->
<!--        for (i = 0; i < s.length; i++) {-->
<!--          if (s.options[i].innerHTML == this.innerHTML) {-->
<!--            s.selectedIndex = i;-->
<!--            h.innerHTML = this.innerHTML;-->
<!--            y = this.parentNode.getElementsByClassName("same-as-selected");-->
<!--            for (k = 0; k < y.length; k++) {-->
<!--              y[k].removeAttribute("class");-->
<!--            }-->
<!--            this.setAttribute("class", "same-as-selected");-->
<!--            break;-->
<!--          }-->
<!--        }-->
<!--        h.click();-->
<!--    });-->
<!--    b.appendChild(c);-->
<!--  }-->
<!--  x[i].appendChild(b);-->
<!--  a.addEventListener("click", function(e) {-->
<!--      /*when the select box is clicked, close any other select boxes,-->
<!--      and open/close the current select box:*/-->
<!--      e.stopPropagation();-->
<!--      closeAllSelect(this);-->
<!--      this.nextSibling.classList.toggle("select-hide");-->
<!--      this.classList.toggle("select-arrow-active");-->
<!--    });-->
<!--}-->
<!--function closeAllSelect(elmnt) {-->
<!--  /*a function that will close all select boxes in the document,-->
<!--  except the current select box:*/-->
<!--  var x, y, i, arrNo = [];-->
<!--  x = document.getElementsByClassName("select-items");-->
<!--  y = document.getElementsByClassName("select-selected");-->
<!--  for (i = 0; i < y.length; i++) {-->
<!--    if (elmnt == y[i]) {-->
<!--      arrNo.push(i)-->
<!--    } else {-->
<!--      y[i].classList.remove("select-arrow-active");-->
<!--    }-->
<!--  }-->
<!--  for (i = 0; i < x.length; i++) {-->
<!--    if (arrNo.indexOf(i)) {-->
<!--      x[i].classList.add("select-hide");-->
<!--    }-->
<!--  }-->
<!--}-->
<!--/*if the user clicks anywhere outside the select box,-->
<!--then close all select boxes:*/-->
<!--document.addEventListener("click", closeAllSelect);-->
<!--</script>-->

<!--                  </body>-->
                  </div>
                  <button style="width:220px;height:40px; type="submit" class="btn btn-primary">Hacer Distribución de Bloques</button>
                </form>
                <br>
                <div>
                  <form method="get" action="/advanced">
                    <div align="left" class="col-md-9">
                      <button style="width:180px;height:40px; type="submit" class="btn btn-link">Opciones Avanzadas </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-6"></div>
      <div class="masonry-item w-100">
        <div class="row gap-20">
          <div class="col-md-12">
            <div class="bgc-white p-20 bd">
              <h6 class="c-grey-900">Programaciones anteriores</h6>
              <div class="mT-30">
                {% for file in files %}
                <a href="programacion/{{file.pk}}">{{file.created}} - {{file.file}}</a><br><br>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js"></script>
<script>
    $('#date').datepicker({
        language: 'es',
        orientation: 'bottom'
    });
  </script>
{% endblock javascripts %}
