{% extends "dashboard/base.html" %}

{% block title %} Sube tu archivo {% endblock title %}

{% block stylesheets %}
{{ block.super}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}


{% block content %}
<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <div class="row gap-20 masonry pos-r">
            <div class="masonry-sizer col-md-6"></div>
            <div class="masonry-item w-100">
                <div class="row gap-20">
                    <div class="col-md-12">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Subir archivo de Lista de Espera</h6>
                            <div class="mT-30">
                                <form action="{% url 'upload-file' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if mensaje %}
                                    <div class="alert alert-danger" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                        </button>
                                        <strong>Error:</strong> {{ mensaje }}
                                    </div>

                                    {% endif %}
                                    <div class="form-group">
                                        <label>Campos necesarios: 'RUN',  'PRESTA_MIN' (código operación),  'PRESTA_EST' (especialidad),  'F_ENTRADA' (fecha ingreso SAM),
                                            <br> 'AT_CERR' (con valores 1 y 0), 'GES' (con valores 1 y 0), 'REPROG' (con valores 1 y 0), 'CLINIC_PRIOR' (con valores 1, 2 y 3)  </label> <br>
                                        <label for="examplefile">Archivo</label>
                                        <input name="file" type="file" class="form-control" id="examplefile" aria-describedby="filelHelp" placeholder="Enter email">
                                        <small id="fileHelp" class="form-text text-muted">Archivo de lista de espera quirúrgica .</small>
                                    </div>
                                    <br>
                                    <h6 class="c-grey-900">Configuración del Programador</h6>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="date">Fecha Inicio Programación</label>
                                            <input id="date" name="date" type="text" class="form-control" value='{% now "d/m/Y" %}' autocomplete="off">
                                        </div>
                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="inputDiasPM">N° Bloques PM</label>
                                            <input name="ndays" type="text" class="form-control" id="inputDiasPM" value="5">
                                        </div>

                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="dia1AM">N° Bloques PM</label>
                                            <input name="dia1AM" type="text" class="form-control" id="dia1AM" value="5">
                                        </div>
                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="dia2AM">N° Bloques PM</label>
                                            <input name="dia2AM" type="text" class="form-control" id="dia2AM" value="5">
                                        </div>
                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="dia3AM">N° Bloques PM</label>
                                            <input name="dia3AM" type="text" class="form-control" id="dia3AM" value="5">
                                        </div>
                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="dia4AM">N° Bloques PM</label>
                                            <input name="dia4AM" type="text" class="form-control" id="dia4AM" value="5">
                                        </div>
                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="dia5AM">N° Bloques PM</label>
                                            <input name="dia5AM" type="text" class="form-control" id="dia5AM" value="5">
                                        </div>
                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="dia1PM">N° Bloques PM</label>
                                            <input name="dia1PM" type="text" class="form-control" id="dia1PM" value="3">
                                        </div>
                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="dia2PM">N° Bloques PM</label>
                                            <input name="dia2PM" type="text" class="form-control" id="dia2PM" value="3">
                                        </div>
                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="dia3PM">N° Bloques PM</label>
                                            <input name="dia3PM" type="text" class="form-control" id="dia3PM" value="3">
                                        </div>
                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="dia4PM">N° Bloques PM</label>
                                            <input name="dia4PM" type="text" class="form-control" id="dia4PM" value="3">
                                        </div>
                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="dia5PM">N° Bloques PM</label>
                                            <input name="dia5PM" type="text" class="form-control" id="dia5PM" value="2">
                                        </div>


                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="alfa_at_cerr">Importancia Pacientes de Atención Cerrada</label>
                                            <input name="alfa_at_cerr" min = "0" class="form-control" type="number" id="alfa_at_cerr"  value="10000">
                                        </div>

                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="alfa_ges">Importancia Pacientes <br> GES <br></label>
                                            <input name="alfa_ges" min = "0" class="form-control" type="number" id="alfa_ges"  value="1000">
                                        </div>

                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="alfa_reprog">Importancia Pacientes Reprogramados</label>
                                            <input name="alfa_reprog" min = "0" class="form-control" type="number" id="alfa_reprog"  value="100">
                                        </div>

                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="alfa_clinic_prior">Importancia de la Prioridad <br>Clínica</label>
                                            <input name="alfa_clinic_prior" min = "0" class="form-control" type="number" id="alfa_clinic_prior"  value="10">
                                        </div>

                                        <div class="form-group col-md-2" style="display:none">
                                            <label for="alfa_tiempo_espera">Importancia del Tiempo <br>de Espera</label>
                                            <input name="alfa_tiempo_espera" min = "0" class="form-control" type="number" id="alfa_tiempo_espera"  value="1">
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label for="exampleFormControlSelect1">N° Salas de Operación</label>
                                            <select name="nrooms"  class="form-control" id="exampleFormControlSelect1" >
                                                <option value = "1">1</option>
                                                <option value = "2">2</option>
                                                <option value = "3">3</option>
                                                <option value = "4">4</option>
                                                <option value = "5" selected="selected">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button style="width:220px;height:40px; type="submit" class="btn btn-primary">Hacer Distribución de Bloques</button>
                                </form>
                                <br>
                                <div>
                                    <form method="get" action="/advanced">
                                        <div align="left" class="col-md-9">
                                            <button style="width:180px;height:40px; type="submit" class="btn btn-link">Opciones Avanzadas </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row gap-20 masonry pos-r">
            <div class="masonry-sizer col-md-6"></div>
            <div class="masonry-item w-100">
                <div class="row gap-20">
                    <div class="col-md-12">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Programaciones anteriores</h6>
                            <div class="mT-30">
                                {% for file in files %}
                                <a href="programacion/{{file.pk}}">{{file.created}} - {{file.file}}</a><br><br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js"></script>
<script>
    $('#date').datepicker({
        language: 'es',
        orientation: 'bottom'
    });
  </script>
{% endblock javascripts %}
