{% extends "dashboard/base.html" %}

{% block title %} Programación {% endblock title %}

{% block stylesheets %}
{{ block.super}}
<link href="/static/drag.css" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-6"></div>
      <div class="masonry-item w-100">
        <div class="row gap-20">
          <div class="col-md-12">
            <div class="bgc-white p-20 bd">
              <h6 class="c-grey-900">Programación de pacientes</h6>
              <div class="text-center">
                {% for e in especialidades %}
                {% if e.especialidad == especialidad %}
                <a href="/programacion/{{id_result}}/pacientes/{{e.especialidad}}" class="btn btn-danger">{{e.especialidad}}</a>
                {% else %}
                <a href="/programacion/{{id_result}}/pacientes/{{e.especialidad}}" class="btn btn-info">{{e.especialidad}}</a>
                {% endif %}
                {% endfor %}
              </div>
              <div id="redips-drag" class="mT-30">
                <div class="row">
                  <div class="col-md-8">
                    Tiempo para {{especialidad}}: {{tiempo_especialidad}} min<br>
                    Máximo Tiempo restante: <span id="tiempo_restante">{{tiempo_restante}}</span> min
                  </div>
                  <div class="col-md-6">
                    <br>
                    <table id="tiempos_especialidades" class="table">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col" class="redips-only">Pacientes prioritarios de {{especialidad}}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="table-success">
                        <td>
                          {% for i in ingresos_prioritarios %}
                          <div class="redips-drag" id="{{i.id}}">Rut:{{i.run}} - Op:{{i.prestacion}} -
                            TE:{{i.tiempoespera}} días - D:{{i.duracion}} min  </div>
                          {% endfor %}
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="row">
                      <form method="post" action="/programacion/{{id_result}}/lista">
                        {% csrf_token %}


                        <div class="col-md-4">
                          <button style="width:220px;height:40px; type="submit" class="btn btn-primary">Asignar Bloques a Pacientes </button>
                        </div>
                      </form>

                      <form method="get" action="/export_xls/{{id_result}}">
                        <div class="col-md-4">
                          <button style="width:250px;height:40px; type="submit" class="btn btn-primary">Exportar Lista de Pacientes (Excel)</button>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <input class="form-control" type="text" id="searchInput" onkeyup="search()" placeholder="Buscar paciente">
                    <br>
                    <table id="pacientes" class="table table-striped">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col" class="redips-only">Lista de espera de {{especialidad}}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="table-primary">
                        <td>
                          {% for i in ingresos %}
                          <div class="redips-drag" id="{{i.id}}">Rut:{{i.run}} - Op:{{i.prestacion}} -
                            TE:{{i.tiempoespera}} días - D:{{i.duracion}} min  </div>
                          {% endfor %}
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="/static/redips-drag-min.js"></script>
<script >

    window.onload = function() {
      rd = REDIPS.drag;
      rd.init();

      var pos1 = null;
      var pos2 = null;
      var elem = null;

      rd.event.clicked = function () {
        // get current position (method returns positions as array)
        pos1 = rd.getPosition();
        elem =
        // display current row and current cell
        console.log('clicked: ' + pos1[0] + ' ' + pos1[1] + ' ' + pos1[2]);
      };

      rd.event.dropped = function (targetCell) {
        pos2 = rd.getPosition();
        elem = rd.obj;
        console.log('dropped: ' + pos2[0] + ' ' + pos2[1] + ' ' + pos2[2]);

        if(pos1 && pos2 && elem){
            if(pos1[0]!==pos2[0]){
                console.log(elem);
                if(pos2[0]===1){
                  updatePrioridad(elem.id, 'out');
                } else {
                  updatePrioridad(elem.id, 'in');
                }
                pos1 = null;
                pos2 = null;
                elem = null;
            }
        }

      };

      function updatePrioridad(idp, mode) {

        var http = new XMLHttpRequest();
        var url = "{% url 'update-prioridad' %}";
        var data = JSON.stringify({
          'id_result': {{id_result}},
          'especialidad': '{{especialidad}}',
          'tiempo_especialidad': {{tiempo_especialidad}},
          'idp': idp,
          'mode': mode,
        });



        http.open('POST', url, true);
        http.setRequestHeader('X-CSRFToken','{{ csrf_token }}');
        http.setRequestHeader("Content-type", "application/json");

        http.onreadystatechange = function() {

            if (http.readyState == 4 && http.status == 200) {

                var response = JSON.parse(http.responseText);
                document.getElementById('tiempo_restante').innerHTML = response;
            }

        };

        http.send(data);
      }

    };


    function search() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("pacientes");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
  </script>
{% endblock %}